.container {
  margin-right: auto;
  flex-direction: column;
  justify-content:center;
 }

 @media (max-width: 599px) {

   .container{
     display: flex;
     flex: 3;
     flex-grow: 1;
     flex-direction: row-reverse;
     justify-content: right;
   }

 }
