.container {
  display: flex;
  flex-direction: row;
  justify-content: right;
 }

 @media (min-width: 599px) {

   .container{
     flex: auto;
     flex-direction: column;
     justify-content:center;
   }

 }
