.container {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: right;
 }

 @media screen and (min-width: 599px) {

   .container{
     flex: auto;
     flex-direction: row-reverse;
     justify-content:right;
   }

 }
