body {
  font-size: 1em;
  font-family: "Italiana", Arial, sans-serif;
  color: #fff;
  background-color: #1B4513;
  padding-left: 5%;
  padding-right: 5%;
}

* {
	box-sizing: border-box;
}

.container{
  padding:10px;
  border-radius: 5px;
  margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

.item{
  padding: 15px;
  margin: 5px;
  background: #f1b82d;
  border-radius: 3px;
  text-align: center;
}

p {
  color: #1899CC;
  font-family: "Viga", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

a{
  text-decoration: none;
  font-family: serif;
}

h1{
  font-size: 40px;
  color: #9C9708;
  text-align: center;
}

h3{
  color: #9C9708;
  font-family: inherit;
}

img {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: #1899CC;
}

#title{
  font-family: 'PT Sans Narrow', sans-serif;
}

#nav1{
  align-content: center;
  text-align: center;
}

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

#nav a:link, a:visited {
  display: block;
  color: #A96000;
  background-color: #C09400;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: "Italiana", Arial, sans-serif;

}
#nav a:hover, a:active {
  background-color: #E6DE00;
}

#link {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #9C9708;
}

#footer1{
  display:block;
  color: #C09400;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  border-top: 1px solid black
}
