body {
  background-color:black;
}

p {
  color:white;
  font-family: "Viga", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

#title{
  font-family: "Times New Roman", serif;
}

#container{

}
