/*MENU*/

nav ul li {
    display: block;
    border-top: 1px #f1b82d solid;
}

nav a {
    color: #1B4513;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
}

header {
    display: flex;
    flex-flow: row;
    background-color:#1899CC;
    margin: 0;
    padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 2.25em;
    width: 5em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

@media screen and (min-width: 699px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}



/*BODY*/

body {
  font-size: 1em;
  font-family: "Italiana", Arial, sans-serif;
  color: #fff;
  background-color: #1B4513;
  padding-left: 5%;
  padding-right: 5%;
}

* {
	box-sizing: border-box;
}

.container{
  padding:10px;
  border-radius: 5px;
  margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

.item{
  padding: 15px;
  margin: 5px;
  background: #f1b82d;
  border-radius: 3px;
  text-align: center;
}

p {
  color: #1899CC;
  font-family: "Viga", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

a{
  text-decoration: none;
  font-family: serif;
}

h1{
  font-size: 40px;
  color: #9C9708;
  text-align: center;
}

h3{
  color: #9C9708;
  font-family: inherit;
}

img {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: #1899CC;
}

#title{
  font-family: 'PT Sans Narrow', sans-serif;
}

#bav1{
  justify-content: center;
  text-align: center;
}

#bav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

#bav a:link, a:visited {
  display: block;
  color: #A96000;
  background-color: #C09400;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: "Italiana", Arial, sans-serif;

}
#bav a:hover, a:active {
  background-color: #E6DE00;
}

#link {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #9C9708;
}

#footer1{
  display:block;
  color: #C09400;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  border-top: 1px solid black
}

/* FLEXBOX */

#bav {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
 }

 @media (min-width: 599px) {

   #bav{
     flex: 3;
     flex-grow: 1;
     flex-direction:column;
     justify-content: center;
     align-content: center;
   }

 }

 /* GRID */

.cards {
  margin: 0 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  background-color: #1B4513;
  color: #A96000;
  grid-template-areas:
  ". e f ."
  "a a c c"
  "b b d d";
}

 .cards li {
   background-color: #C09400;
   border: 1px solid #1B4513;
   padding: 10px;
   border-radius: 5px;
 }

 .cards img {
   width: 100%;
 }

.cardtext {
  max-width: 200px;
  text-align: center;
  justify-content: center;
}

 .card1{
   grid-area:a;
 }

 .card2{
   grid-area:b;
 }

 .card3{
   grid-area:c;
 }

 .card4{
   grid-area:d;
 }

 .card5{
   grid-area:e;
 }

 .card6{
   grid-area:f;
 }

 @media screen and (min-width: 699px)  {
    .cards {
        display: grid;
        grid-template-areas:
        "e a b b"
        "c c d f";
      }
    }

@media screen and (min-width: 899px)   {
            .cards {
              display: grid;
                grid-template-areas:
                "a a c c"
                "b b d d"
                ". e f .";
        }
      }
